<div class="row">
  <div class="col-md-8">

<h1>Ebola Tracking System 0.2alpha</h1>
    <%= link_to new_survey_path, :class => "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> New Survey
    <% end %>
    <%= link_to surveys_path, :class => "btn btn-success" do %>
      <span class="glyphicon glyphicon-refresh"></span> Refresh
    <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Risk Level</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.number %></td>
        <td><%= survey.name %></td>
        <td><%= survey.risk_level %></td>
        <td><%= "#{time_ago_in_words(survey.completed_at)} ago" if survey.completed_at %></td>
        <td><%= link_to 'Survey Details', survey %></td>
        <!--<td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>
